body {
	color: #3a3335;
	box-sizing: border-box;
   margin: 0;
	font-family: 'Rubik', sans-serif;
}

h1 {
	text-align: center;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   letter-spacing: 20px;
   position: sticky;
   top:0px;
   margin-top:-10px;
   background-color: rgba(255, 255, 255);
   padding: 10px 0;
   width: 100%;
   font-size: 1.6rem;
}

#container {
	display: flex;
}

#left-column, #right_column {
   display: flex;
   flex-direction: column;
	align-items: center;
   justify-items: center;
}

#left-column {
   background-color: #3A3335;
   position: sticky;
   top: 0;
   height: 100vh;
   margin-left: -10px;
   box-shadow: inset -3px 0px 10px #201f1f;
}

#right_column {
	width: 100%;
}

.list-item a, h1 a {
	text-decoration: none;
   color: #3a3335;
   transition: all 1s;
}

.list-item {
   list-style: none;
	text-align: right;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
	width: 200px;
   padding: 5px 10px;
	font-size: 1.2rem;
	background-color: #E22866;
	margin-bottom: 20px;
}

.list-item:hover a {
   padding-right: 15%;
   color: #000;
}

.list-header {
   font-weight: 900;
   font-size: 1.6rem;
   letter-spacing: 3px;
}

.image {
   width: 70%;
   transition: 1s;
} 
.resize {
   transform: scale(1.5);
}

p {
   margin: 20px 100px;
   font-size: 1.3rem;
}

.h {font-size: 1.5rem;text-align: center;display: block;}

#gallery {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.right {
   float: right;
}

.left {
   float: left;
}

.left, .right {
   width: 50%;
   margin: -10px 100px;
}

select, input, textarea{
    margin: 10px 0;
    width:100%;
    min-height: 2.5em;
    border-radius: 3px;
    border: 2px solid #555;
    font-family: Verdana !important;
    outline: none;
}
.form{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:rgba(226,40,102, 0.5);
    padding:2em 2em;
    border-radius: 5px;
    min-width:400px;
    max-width:600px;
    margin: 0 50px;
}

#submit{
    display:block;
    margin: 2em 0 0 0;
    border: none;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(64, 200, 96);
    border-radius: 5px;

}
#submit:hover{
    background-color: rgb(64, 255, 96);
}
label{
    display: block;
    margin: 0 0 2rem 0;
	color: white;
}
fieldset{
    border:none;
}
.inline{
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}
textarea{
    resize: vertical;
}
.info{
    text-align:left ;
    margin: 0 0 0.5em 0;
	color: white;
}
input:focus, textarea:focus, select:focus{
    border: 2px solid green;
}
span{
    font-family: Tahoma !important;
    color:rgba(255, 255, 255,0.6);
    font-size: 12px;
}
span a{
    text-decoration: none;
    color: white;
}

#test{
	width: 400px;
	height: 400px;
	background-color:red;
}

.header-container{
	width: 100%;
	height:150px;
	display: grid;
	align-items: center;
}
.background-pic{
	background: url(https://cdn.pixabay.com/photo/2023/11/13/17/49/people-8386051_1280.jpg);
	background-size: cover;
}
